.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.button__active {
  background-color: #4b0278;
  color: white;
  border: 2px solid white;
}
